.Home {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.sidebar {
  position: fixed;
  top: 9%;
  left: 0;
  height: 91%;
  z-index: 1000;
}

.add-truck-details-container {
  position: absolute;
  top: 9%;
  left: 5%; /* Align with sidebar width */
  width: 95%; /* Take remaining width */
  height: 91%; /* Take remaining height */
  overflow-y: auto; /* Add scrolling if content overflows */
  box-sizing: border-box;
}



@media (max-width: 1024px) {
    .add-truck-details-container {
      left: 8%; /* Adjust for mid-sized screens */
      width: 92%;
    }
  }
  
  @media (max-width: 768px) {
    .add-truck-details-container {
      left: 9%; /* Adjust for mobile screens */
      width: 91%;
    }
  }