.add-truck-details-container {
    padding: 2rem;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    box-sizing: border-box;
    overflow: auto;
    position: absolute;
    top: 9%;
    left: 5%; /* Align with sidebar width */
    width: 95%; /* Take remaining width */
    height: 91%; /* Take remaining height */
    overflow-y: auto; /* Add scrolling if content overflows */
    box-sizing: border-box;
}

.add-truck-details-container::-webkit-scrollbar {
    display: none;
  }

.add-truck-details-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}


.image-upload-section {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
  

.image-upload-item {
    margin-right: 1rem;
}
  
.image-upload-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0077b6;
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.6rem;
    text-align: center;
}
  
.image-upload-label:hover {
    background-color: #005b8f;
}
  
.image-upload-icon {
    font-size: 1.2rem;
    margin-bottom: 0.25rem;
}
  
.image-upload-input {
    display: none;
}

.add-truck-details-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group select {
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: #0077b6;
}

.submit-button {
  grid-column: 1 / 3;
  justify-self: center;
  background-color: #0077b6;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}
.submit-button:hover {
  background-color: #005b8f;
}

@media (max-width: 1024px) {
    .add-truck-details-container {
      left: 8%; /* Adjust for mid-sized screens */
      width: 92%;
    }
  }
  
  @media (max-width: 768px) {
    .add-truck-details-container {
      left: 9%; /* Adjust for mobile screens */
      width: 91%;
    }
  }  